@import "@/styles/Button.module.scss";
.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    color: var(--text-white);
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 15px;
  }
  .desc {
    color: var(--text-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 35px;
  }
  form {
    width: 350px;
    .passwordCta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      margin: 27px 0;
      .forgotPassword {
        color: var(--active-color);
      }
      :global {
        .ant-checkbox-wrapper {
          .ant-checkbox-input {
            background-color: var(--bg-input);
          }
          .ant-checkbox-checked {
            .ant-checkbox-inner {
              border-color: var(--active-color);
              background-color: var(--active-color);
            }
          }
          span {
            color: var(--text-white);
          }
        }
      }
    }
    .activeBtn {
      width: 100%;
      font-weight: 400;
    }
  }
  .registerCta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    p {
      color: var(--text-secondary);
    }
    a {
      color: var(--active-color);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  :global {
    .ant-form-item:not(:last-child) {
      margin-bottom: 35px;
    }
    .ant-form-item-explain {
      margin-top: 5px;
    }
    .ant-input-password,
    .ant-input {
      color: var(--text-white);
      font-size: 14px;
      border-radius: var(--border-radius-10);
      background-color: var(--bg-input) !important;
      border: none;
      padding: 14px 20px;
      svg {
        fill: var(--text-white);
      }
    }
    .ant-input-password > input.ant-input {
      border-radius: 0;
    }
  }
}
