.welcome {
  background-image: url("../public/assets/image/img_overview.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}